{
    "version": "2017-02-28",
    "operation": "GetItem",
    "key": {
        "PK": $util.dynamodb.toDynamoDBJson("ACCT#$context.arguments.input.accountId"),
        "SK": $util.dynamodb.toDynamoDBJson("OFR#$context.arguments.input.offerId"),
    }
}